* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --textColor: #cb9f4a;
    --btColor: #ea9c06;
}

body {
    background-color: #f1efef;
}

h2 {
    font-weight: 400;
    margin: 16px 0;
    font-family: 'Dela Gothic One', cursive;
}

button {
    width: 200px;
    padding: 16px;
    margin-top: 8px;
    color: white;
    background-color: var(--btColor);
    border: none;
    float: right;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    max-width: 526px;
    display: block;
    margin: 0 auto;
}

.container > h1 {
    text-align: center;
    margin: 24px auto;
    font-size: 60px;
    font-family: 'Nabla', cursive;
    width: fit-content;
    /* padding: 24px 0 36px; */
    /* padding: 24px 0; */
    /* box-shadow: inset 8px 0 1px rgba(0, 0, 0, .3); */
}

.block {
    display: inline-block;
}
.line {
    display: block;
}
.line .block:nth-of-type(2) {
    margin-left: 16px;
}

.theinput {
    border-radius: 15px;
    padding: 5px;
    margin: 4px 0 8px;
    height: 36px;
}
.growinput {
    display: flex;
}
.growinput > input {
    flex-grow: 1;
}