<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt-Br"
  >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar pessoas</title>

  <style type="text/css">
    .container {
      max-width: 526px;
      margin: 0 auto;
    }
    .container h1 {
      text-align: center;
      margin-bottom: 16px;
    }

  </style>
</head>

<body>
  <div class="container">
    <h1>Lista de Pessoas:</h1>

  </div>
</body>
</html>